<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <service android:name=".LogService" android:exported="false"/>
    <activity android:name="com.cv.pic.log.LogViewerActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="true"
      android:launchMode="singleTask"
      android:resizeableActivity="true"/>
  </application>
</manifest>