<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <application>
    <activity android:name="com.cv.pic.ai.deepseek.DeepSeekActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="true"
      android:launchMode="singleTask"
      android:resizeableActivity="true"/>
  </application>
</manifest>