<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application
    android:name=".MyApplication"
    android:allowBackup="true"
    android:enableOnBackInvokedCallback="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.CuteGif"
    android:usesCleartextTraffic="false"
    tools:targetApi="tiramisu">
    <activity
      android:name=".activity.ImportMvimgActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.BetaEndedActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.FollowWechatActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.OpenSourceLicenseActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.WhatsNewActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.DonateActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.GifToVideoActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.VideoToGifVideoFallbackActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.AboutActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.VideoToGifPerformerActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.GifSplitActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true" />
    <activity
      android:name=".activity.AddTextActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.VideoToGifActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true" />
    <activity
      android:name=".activity.EulaActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true" />
    <activity
      android:name=".activity.AppCrashedActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.FileSavedActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".MainActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="true"
      android:launchMode="singleTask"
      android:resizeableActivity="true">
<!--      <intent-filter>-->
<!--        <action android:name="android.intent.action.MAIN" />-->

<!--        <category android:name="android.intent.category.LAUNCHER" />-->
<!--      </intent-filter>-->
      <intent-filter tools:ignore="AppLinkUrlError">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="video/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="video/*" />
      </intent-filter>
    </activity>
    <activity android:name=".activity.HomeActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="true"
      android:launchMode="singleTask"
      android:resizeableActivity="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="me.tasy5kg.cutegif.activity.GifMergeActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true" />
  </application>

</manifest>