<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <!-- 网络权限 -->
  <uses-permission android:name="android.permission.INTERNET" />

  <!-- 允许WebView加载本地文件 -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:maxSdkVersion="28"/>
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage"/>

  <!-- 允许WebView访问位置（如果需要） -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application
    android:name=".MyApplication"
    android:allowBackup="true"
    android:enableOnBackInvokedCallback="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.CuteGif"
    android:usesCleartextTraffic="false"
    android:networkSecurityConfig="@xml/network_security_config"
    android:preserveLegacyExternalStorage="true"
    android:requestLegacyExternalStorage="true"
    tools:targetApi="tiramisu">
    <activity
      android:name=".activity.ImportMvimgActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.BetaEndedActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.FollowWechatActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.OpenSourceLicenseActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.WhatsNewActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.DonateActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.GifToVideoActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.VideoToGifVideoFallbackActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.AboutActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.VideoToGifPerformerActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.GifSplitActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true" />
    <activity
      android:name=".activity.AddTextActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.VideoToGifActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true" />
    <activity
      android:name=".activity.EulaActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true" />
    <activity
      android:name=".activity.AppCrashedActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".activity.FileSavedActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true"
      android:theme="@style/Theme.CuteGif.Dialog" />
    <activity
      android:name=".MainActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="true"
      android:launchMode="singleTask"
      android:resizeableActivity="true">
<!--      <intent-filter>-->
<!--        <action android:name="android.intent.action.MAIN" />-->

<!--        <category android:name="android.intent.category.LAUNCHER" />-->
<!--      </intent-filter>-->
      <intent-filter tools:ignore="AppLinkUrlError">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="video/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="video/*" />
      </intent-filter>
    </activity>
    <activity android:name=".activity.HomeActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="true"
      android:launchMode="singleTask"
      android:resizeableActivity="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="me.tasy5kg.cutegif.activity.GifMergeActivity"
      android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|density|screenSize|smallestScreenSize"
      android:exported="false"
      android:launchMode="singleTask"
      android:resizeableActivity="true" />
    <activity
      android:name=".wxapi.WXEntryActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:taskAffinity="${applicationId}"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <activity
      android:name=".wxapi.WXPayEntryActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <!-- 微信AppId -->
    <meta-data
      android:name="WECHAT_APPID"
      android:value="YOUR_WECHAT_APP_ID" />

    <!-- WebView 文件访问权限 -->
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>

  </application>

</manifest>